header{
    .search-bar {
        border: 1px solid #88c8bc;
      overflow: hidden;

        .ant-input {
            border: none;
          &:hover {
            background-color: transparent;
          }
      
          &:focus {
            border: none;
            box-shadow: none;
        }
    }
    .ant-input-group >.ant-input-group-addon:last-child{
      background-color: #88c8bc;
      inset-inline-start: 0px
    }
    .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover{
      background-color: #285850;
    }
      }
      // .auth-section{
      //   .login{
      //     .ant-btn-default:not(:disabled):not(.ant-btn-disabled){
      //       color: white;
      //       background-color: blue;
      //     }
      //   }
      // }
}