.ant-upload-wrapper.ant-upload-picture-card-wrapper{
    .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item-container{
       width: 160px;
       height: 160px;
   }
   .ant-upload.ant-upload-select{
      width: 200px;
      height: 200px;
  }

}
// .ant-form-vertical .ant-form-item .ant-form-item-control {
//     width: 100%;
//     .ant-space-item{
//         width: 90% !important;
//     }
// }
